
.custom_input_box{
    display: inline-block;
}

.custom_input_box .custom_input_text_box{
    position: relative;
    display: inline-block;
}

.custom_input_box .custom_input_text_box input{
    margin: 0 !important;
    padding: 7px 12px;
    width: 250px;
}

.custom_input_box .custom_input_text{
    padding: 8px;
    border: 1px solid #d5d5d5;
}

.custom_input_box .custom_input_text_arrow{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.custom_input_box .custom_input_text_arrow:hover{
    color: #ddd;
}

.custom_input_box .custom_input_text_arrow:before{
    content: "\2BC6";
    line-height: 2.2;
}

.custom_input_box .custom_select_list_box{
    position: relative;
}

.custom_input_box .custom_select_list{
    position: absolute;
    left: 0;
    top: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    box-shadow: 2px 2px 8px #ccc;
}

.custom_input_box .custom_select_list > div{
    cursor: pointer;
    padding: 10px 6px;
}

.custom_input_box .custom_select_list > div:hover{
    background-color: #e3e3e3;
}

.custom_input_box .custom_select_list .highlight{
    background-color: #f5f5f5;
}


.custom_input_box .custom_input_text_box  .custom_input_text_clear:before{
    content: "\2715";
    color: #fff;
    line-height: 1em;
    font-size: 11px;
}

.custom_input_box .custom_input_text_box  .custom_input_text_clear{
    padding: 5px 4px 2px 5px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    top: 8px;
    right: 30px;
    cursor: pointer;
}

.custom_input_box .custom_input_text_box  .custom_input_text_clear:hover{
    box-shadow: 0 0 5px #ddd;
}


